## 1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
- WAP to add 200 and 300 to L.
- WAP to remove 10 and 30 from L.
- WAP to sort L in ascending order.
- WAP to sort L in descending order.

In [1]:
l1=[10,20,30,40,50,60,70,80]
print(l1)
l1.append(200)
print(l1)
l1.append(300)
print(l1)
l1.remove(10)
print(l1)
l1.remove(30)
print(l1)
l1.sort()
print(l1)
l1.sort(reverse=True)
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80, 200]
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

# 2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
- Identify the highest score and its index in the tuple.
- Find the lowest score and count how many times it appears.
- Reverse the tuple and return it as a list.
- Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [2]:
t1=(45,89.5,76,45.4,89,92,58,45)
print(t1)
print(f'Highest score is {max(t1)} and it is present at {t1.index(max(t1))} index')
print(f'Highest score is {min(t1)} and it is present {t1.count(min(t1))} times')
l=list(t1[::-1])
print('Reverse order is:',l)
try:
    num=eval(input('Enter score to check'))
    index=t1.index(num)
    print(f'{num} is present in tuple at index {index}')
except:
    print(f'{num} is not present in tuple')

(45, 89.5, 76, 45.4, 89, 92, 58, 45)
Highest score is 92 and it is present at 5 index
Highest score is 45 and it is present 2 times
Reverse order is: [45, 58, 92, 89, 45.4, 76, 89.5, 45]

Enter score to check 10

10 is not present in tuple

## 3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
- All odd numbers
- All even numbers
- All prime numbers

In [3]:
import random as r

l2=r.sample(range(100,900),100)
print('List is:',l2)
l2_odd=[i for i in l2 if i%2!=0]
l2_even=[i for i in l2 if i%2==0]
l2_prime=[]
for i in l2:
    for j in range(2,i):
        if(i%j==0):
            l2.append(i)
print('\n')
print("Odd numbers are: ",l2_odd)
print('\n')
print("Even numbers are: ",l2_even)
print('\n')
print("Prime numbers are: ",l2_prime)
print('\n')

List is: [662, 102, 780, 454, 789, 782, 382, 583, 737, 400, 233, 750, 798, 817, 518, 871, 823, 683, 158, 296, 656, 238, 809, 881, 306, 295, 763, 349, 593, 242, 857, 291, 298, 397, 271, 191, 540, 525, 188, 537, 502, 893, 149, 219, 552, 411, 624, 493, 515, 741, 786, 474, 837, 557, 292, 812, 723, 621, 165, 215, 775, 404, 796, 359, 460, 223, 578, 698, 551, 303, 432, 477, 609, 824, 312, 675, 616, 813, 265, 424, 253, 231, 568, 875, 257, 743, 338, 339, 792, 530, 559, 320, 323, 161, 372, 592, 352, 105, 566, 521]


Odd numbers are:  [789, 583, 737, 233, 817, 871, 823, 683, 809, 881, 295, 763, 349, 593, 857, 291, 397, 271, 191, 525, 537, 893, 149, 219, 411, 493, 515, 741, 837, 557, 723, 621, 165, 215, 775, 359, 223, 551, 303, 477, 609, 675, 813, 265, 253, 231, 875, 257, 743, 339, 559, 323, 161, 105, 521]


Even numbers are:  [662, 102, 780, 454, 782, 382, 400, 750, 798, 518, 158, 296, 656, 238, 306, 242, 298, 540, 188, 502, 552, 624, 786, 474, 292, 812, 404, 796, 460, 578, 698, 432, 824, 312, 616, 424, 568, 338, 792, 530, 320, 372, 592, 352, 566]


Prime numbers are:  []

## 4. Consider the following two sets, A and B, representing scores of two teams in mutiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following operations using set functions:
- Find the unique scores achieved by both teams (union of sets).
- Identify the scores that are common to both teams (intersection of sets).
- Find the scores that are exclusive to each team (symmetric difference).
- Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
- Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [4]:
A={34,56,78,90}
B={78,45,90,23}
print(f'Team A score is: {A}')
print(f'Team B score is: {B}')
print(f'Unique scores achieved by both the teams are: {A|B}')
print(f'Common scores achieved by both the teams are: {A&B}')
print(f'Scores exclusive to both the teams: {A.symmetric_difference(B)}')
if A.issubset(B):
    print('A is subset of B')
else:
    print('A is not a subset of B')
if B.issuperset(A):
    print('B is superset of A')
else:
    print('B is not a superset of A')
num=eval(input('Enter score to check'))
if num in A:
    A.remove(num)
    print(f'{num} is removed from A and new set is {A}')
else:
    print(f'{num} is not present in A')

Team A score is: {56, 34, 90, 78}
Team B score is: {90, 45, 78, 23}
Unique scores achieved by both the teams are: {34, 45, 78, 23, 56, 90}
Common scores achieved by both the teams are: {90, 78}
Scores exclusive to both the teams: {34, 45, 23, 56}
A is not a subset of B
B is not a superset of A

Enter score to check 10

10 is not present in A

## 5. Write a program to rename a key city to a location in the following dictionary.

 Given:
      sample_dict={
          "name": "Kelly",
          "age":25,
          "salary": 8000,
          "city": "New york"
      }

 Expected output:
        {"name": "Kelly","age":25,"salary": 8000,"location": "New york"}

In [5]:
sample_dict={
    "name": "Kelly",
    "age":25,
    "salary": 8000,
    "city": "New york"
}
sample_dict['location']=sample_dict['city']
del sample_dict['city']
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}